In [1]:
import numpy as np, pandas as pd

In [12]:
resp = pd.read_csv('sampleData/download.csv', header=None)
resp.columns = ['time', 'resp', 'tone']

In [8]:
bci = pd.read_csv('sampleData/OpenBCI-RAW-2016-12-30_18-07-39.txt', sep=', ', skiprows=4, header=None)
bci.columns = []

/home/mike/ve/ml/lib/python3.5/site-packages/ipykernel/__main__.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  if __name__ == '__main__':

In [9]:
bci.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0,-120122.36,-113415.72,-114035.63,-117027.27,-136190.16,-148000.78,-155031.11,-131657.89,0.01,0.1,1.03,1483139272678
1,1,-120122.92,-113416.37,-114035.91,-117027.36,-136190.20,-148000.81,-155031.06,-131657.52,0.00,0.0,0.00,1483139272682
2,2,-120119.12,-113412.79,-114034.35,-117025.66,-136188.48,-147998.63,-155028.94,-131653.63,0.00,0.0,0.00,1483139272686
3,3,-120115.72,-113409.64,-114032.02,-117023.45,-136186.20,-147996.28,-155026.94,-131651.13,0.00,0.0,0.00,1483139272690
4,4,-120121.53,-113415.52,-114036.18,-117027.72,-136190.31,-148001.00,-155031.83,-131657.11,0.00,0.0,0.00,1483139272694

In [14]:
resp

             time  resp tone
0   1484171948837     0   C4
1   1484171949231     0   C4
2   1484171949631     0   C4
3   1484171950031     0   C4
4   1484171950431     0   C5
5   1484171950831     0   C4
6   1484171951231     0   C3
7   1484171949901     2    0
8   1484171950153     2    0
9   1484171950395     2    0
10  1484171950623     1    0
11  1484171950974     1    0
12  1484171951193     1    0
13  1484171951548     2    0

In [15]:
len(bci)

3563